<h1 class="text-center">{{title}}</h1>
<br>
<br>
<br>
<div class="row">
    <form novalidate class="col-lg-4 col-md-offset-4" name="frutas" ng-submit="save();">
        <div class="form-group">
          <label for="fruit">Fruta</label>
          <input id="fruit" class="form-control" type="text" required placeholder="Insira uma fruta" ng-model="fruta.nome">
        </div>
        <div class="form-group">
          <label for="qnt">Quantidade</label>
          <input id="qnt" class="form-control input-small" type="number" required placeholder="quantidade" ng-model="fruta.quantidade" min="1" step="1" max="999">
        </div>
        <div class="form-group">
          <label for="preco">Preço</label>
          <input id="preco" class="form-control" type="text" required placeholder="preço" ng-model="fruta.preco" pattern="[0-9,]+">
        </div>

        <button type="submit" class="btn btn-primary" style="width: 100%" >Save</button>
    </form>
</div>

<br><br>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="alert" ng-class="{'alert-success': isSave, 'alert-danger': isError}" ng-show="triedSubmit">
      <button type="button" data-dismiss="alert" class="close">&times;</button>
      <p class="text-center"><strong>MESSAGE</strong><br>{{message}}</p>
    </div>
  </div>
</div>
