
<h1 class="text-center">{{title}}</h1>
<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">Nome</th>
            <th class="text-center">Quantidade</th>
            <th class="text-center">Preço</th>
            <th class="text-center">Editar</th>
            <th class="text-center">Excluir</th>
          </tr>
        </thead>
        <tbody>
            <tr class="text-center" ng-repeat="fruit in fruits">
                <td>{{fruit.nome}}</td>
                <td>{{fruit.quantidade}}</td>
                <td>{{fruit.preco}}</td>
                <td>
                  <a class="btn btn-xs btn-default" ng-href="#!/fruta/form/{{fruit._id}}">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </a>
                </td>
                <td>
                  <button type="button" class="btn btn-xs btn-danger" ng-click="remove(fruit._id);" >
                    <i class="glyphicon glyphicon-remove"></i>
                  </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
